@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
}
.bg-dark-color {
  background-color: #252525;
}

@layer base {
  body {
    @apply text-[#252525] dark:text-[#eee];
  }
}

* {
  transition-property: background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

input,
select {
  @apply outline-none border-none focus:ring-0 focus:outline-none focus:border-[0px];
}
